@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.about-us-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 60px auto;
}

.word-content{
  flex: 1;
  width: 600px;
  margin: 0px 80px 0px 0px;
  font-family: 'roboto-slab';
}

.word-content h2{
  font-size: 36px;
  margin-bottom: 20px;
  color: #393939;
}

.word-content p{
  font-size: 19px;
  line-height: 1.3;
  margin-bottom: 40px;
  color: #666;

}

.img-content{
  flex: 1;
  width: 600px;
  margin: auto;
}

.img-content img{
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.topic {
  margin: auto;
  margin-top: 90px;
  text-align: center;
  width: 80%;
  font-family: 'roboto-slab';
}

.topic h1{
  font-size: 45px;
  font-weight: bold;
  color: crimson;
}

.mithocha-gallery {
  font-family: 'roboto-slab';
  width: 60%;
  text-align: center;
  margin: auto;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.pic-place img{
  width: 80%;
  border-radius: 5px;
}

.pic {
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}

.pic img {
  width: 100%;
  border-radius: 5px;
  transition: .5s;
}

.pic:nth-child(1)::before {
  content: "Balcony";
}

.pic:nth-child(2)::before {
  content: "Dining Area";
}

.pic:nth-child(3)::before {
  content: "Rooftop";
}

.pic:nth-child(4)::before {
  content: "Waterfront";
}

.pic::before{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-top: -50px;
  opacity: 0;
  transition: .3s;
  transition-delay: .2s;
  z-index: 1;
}

.pic:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  margin-bottom: 3px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .4);
  transition: .3s;
}

.pic:hover::after{
  height: 99%;
}

.pic:hover::before{
  margin: 0;
  opacity: 1;
}

.team-slide{
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-container{
  max-width: 1120px;
  width: 80%;
  padding: 40px 0;
  margin-top: 60px;
  font-family: "roboto-slabs";
}

.slide-content{
  padding-bottom: 45px;
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
  height: 450px;
}

.card{
  border-radius: 25px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.image-content,.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 18px;
}

.image-content{
  position: relative;
  padding: 25px 0;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: crimson;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: crimson;
}
.overlay::after{
  border-radius: 0 200px 0 0;
  background-color: #ffffff;
}

.card-image{
  position: relative;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid crimson;
}

.position{
  margin-top: 10px;
  font-size: 26px;
  font-weight: 600;
}
.name{
  font-size: 19px;
  font-weight: 600;
  color: crimson;
  margin: 10px 0;
}
.description{
  font-size: 17px;
  color: #898c8e;
  text-align: center;
  margin-bottom: 10px;
}
.swiper-button-next.swiper-navBtn,
.swiper-button-prev.swiper-navBtn {
  color: rgb(225, 115, 137);
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: crimson;
}
.swiper-navBtn:before, .swiper-navBtn:after{
  font-size: 400px;
}
.swiper-button-next{
  padding-left: 20px;
}
.swiper-button-prev{
  padding-right: 20px;
}
.swiper-pagination-bullet {
  background-color: crimson !important;
  opacity: 1;
}
.background{
  background-color: #24262b;
  margin-top: 60px;
  padding-top: 1px;
  padding-bottom: 100px;
}
.find-us-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 60px auto;
}
form{
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;     /*jdnvijefnfgoewdnvoenvejvnerojv eojrnvreijnverjnverijjnvij ratooo part*/
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 60px;
}
form h1{
  color: crimson;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
  margin-left: 4px;
}
form input, form textarea{
  font-family: "Roboto-slab";
  border: 0;
  margin: 10px 0;
  padding: 15px;
  outline: none;
  background-color: #f4f4f4;
  border-radius: 10px;
  font-size: 18px;
}
form button{
  font-family: "Roboto-slab";
  font-weight: 600;
  padding: 12px;
  background-color: crimson;
  color: #fff;
  border: 0;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  width: 35%;
  margin: 10px auto 0;
  border-radius: 30px;
}
form button:hover{
  background-color: rgb(255, 75, 20);
  transition: background-color 0.3s ease;
}
.map{
  flex: 0.9;
}
.map iframe{
  width: 100%;
  border-radius: 5px;
  margin-bottom: 50px;
  
}
.vision{
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
}
.vision p{
  font-family: "roboto-slab";
  font-size: 19px;
  line-height: 1.3;
  color: #666;
  text-align: center; 
}

@media (max-width: 1026px) {
  .slide-content{
    height: 500px;
  }
  .position{
    font-size: 24px;
    z-index: 2;
  }
}

@media (max-width: 978px) {
  .menu-container h1{
    padding-left: 0px;
  }
  .mithocha-gallery {
    width: 80%;
  }
  .slide-content{
    height: 450px;
  }
  .find-us-container{
    flex-direction: column;
    margin: 60px auto;
  }
  .word-content{
    margin: 0;
    width: 80%;
  }
  .map{
    width: 80%;
  }
}

@media screen and (max-width: 758px){
  .menu-container h1{
    padding-left: 21px;
  }
  .mithocha-gallery {
    width: 80%;
  }
  .about-us-container {
    width: 100%;
    flex-direction: column;
    margin: 0px;
    padding: 0px 40px;
  }
  .word-content {
    width: 95%;
    margin: 35px 0px;
  }
  .word-content h2 {
    font-size: 30px;
  }
  .word-content p {
    font-size: 17px;
    margin-bottom: 5px;
  }
  .img-content {
    width: 100%;
    animation: fadeInUp 2s ease;
  }
  .card-image{
    height: 130px;
    width: 130px;
  }
  .slide-content{
    margin: 0 10px;
    height: 400px;
  }
  .swiper-button-next.swiper-navBtn,
  .swiper-button-prev.swiper-navBtn {
    display: none;
  }
}