@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
nav{
  background: rgb(255, 255, 255);
  height: 80px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  z-index: 3;
}
.logo{
  height: 75px;
  padding: 0 30px;
}
nav ul{
  float: right;
  margin-right: 40px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 16px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  background: crimson;
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
nav ul li a:hover{
  background-color: rgb(255, 75, 20);
  text-decoration: none;
  color: #fff;
}
nav ul li a i{
  color: #ffffff; 
  font-size: 15px; 
  margin-right: 5px;
  cursor: pointer;
}
nav ul li a i:hover{
  background-color: rgb(255, 75, 20);
  text-decoration: none;
  color: white;
}
.checkbtn{
  font-size: 30px;
  color: crimson;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
.pamplet{
  position: relative;
}
.pamplet img{
  width: 100%;
}
.ptext{
  position: absolute;
  top: 36%;
  left: 5%;
  color: #ffffff;
  font-size: 30px;
  text-shadow: 0 0 5px rgb(186, 78, 11), 0 0 20px rgb(186, 78, 11);
} 
.ntext{
  position: absolute;
  top: 36%;
  left: 80%;
  color: #ffffff;
  font-size: 30px;
  text-shadow: 0 0 5px rgb(186, 78, 11), 0 0 20px rgb(186, 78, 11);
} 
.cart{                                                          /*Cart*/
  position: absolute;
  z-index: 3;
  top: 88%;
  left: 92%;
  cursor: pointer;
}

.cart a{
  color: white !important;
}

.cart i{
  position: fixed;
  background-color: crimson;
  padding: 20px 20px 20px 20px;
  border-radius: 40px;
  font-size: 20px;
}

@keyframes loop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.offer-loop{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: crimson;
}

.loop-slide{
  font-family: "Roboto-slab";
  background-color: crimson;
  display: flex;
  flex-direction: row;
  animation: 6s loop infinite linear;
}

.loop-slide h2{
  color: #fff;
  font-size: 24px;
  padding: 10px 8px;
  font-weight: 300;
}

.logos{
  background: #fff;
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
  width: 80%;
  display: flex;
  margin: auto;
}

.logos::before, .logos::after{
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos::before{
  left: 0;
  background:linear-gradient(to left, transparent,#fff);
}

.logos::after{
  right: 0;
  background:linear-gradient(to right, transparent,#fff);
}

.logos-slide{
  display: inline-block;
  animation: 10s loop infinite linear;
}

.logos-slide img{
  height: 90px;
  margin-right: 40px;
}

.footer-container{
  max-width: 80%;
  margin: auto;
  line-height: 1.5;
  font-family: "Roboto-slab";
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul{
  list-style: none;
}

.caption{
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 100%;
  height: auto;
  justify-content: center;
  margin: 60px auto;
}

.caption img{
  width: 280px;
  margin-right: 20px;
}

.thought-bubble {
  display: flex;
  flex-direction: row;
}

.small-bubble{
  background-color: crimson;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-top: 160px;
  margin-right: 30px;
}

.big-bubble{
  background-color: crimson;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-top: 100px;
  margin-right: 20px;
}

.thought-text{
  background-color: crimson;
  border-radius: 48%;
  width: 340px;
  height: 185px;
}

.thought-text h6{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  font-size: 18px;
  font-family: "Roboto-slab";
  padding: 0 40px;
  font-weight: 600;
}

.footer{
  margin-top: 60px;
  background-color: #24262b;
  padding: 60px 0 30px 0;
}

.footer-col{
  width: auto;
  padding: 0 15px;
}

.footer-col h4{
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: crimson;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 19px;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: #ffffff;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
  background-color: crimson;
}

.copyright{
    width: 100%;
    margin-top: 45px;
    font-family: "Roboto-slab";
    color: #afafaf;
    font-size: 18px;
    text-align: center;
}

@media (max-width: 978px) {
  .logo{
    line-height: 60px;
    padding: 3px 0px 0 20px;
  }
  nav ul li a{
    font-size: 12px;
  }
  .fa-solid.fa-user{
    font-size: 25px;
  }
  nav ul li input{
    padding: 6px 20px;
  }
  nav ul li a i{
    font-size: 13px;
  }
  .cart{
    top: 86%;
    left: 90%;
  }
  .ptext{
    left: 4%;
    font-size: 22px;
  } 
  .ntext{
    font-size: 22px;
  } 
  .productlist{
    width: 45%;
  }
  .menu-container h1{
    font-size: 45px;
    margin-left: 40px;
  }
  .productlist ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  }
  .loop-slide h2{
    font-size: 19px;
    padding: 9px 5px;
    font-weight: 500;
  }
  .logos-slide img{
    height: 60px;
    margin-right: 30px;
  }
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 758px) {
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 30px 0;
    line-height: 30px;

  }
  nav ul li a{
    font-size: 17px;
  }
  .checkbtn:hover{
    color: rgb(255, 75, 20);
  }
  nav ul li a i{
    font-size: 15px;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .cart{
    top: 88%;
    left: 84%;
  }
  .container{
    padding-top: 60px;
  }
  .ptext{
    left: 9%;
    font-size: 11px;
  } 
  .ntext{
    font-size: 11px;
  } 
  .productlist{
    width: 65% !important;
    padding: 0;
  }
  .menu-container h1{
    font-size: 40px;
    margin-left: 40px;
    margin-top: 45px;
  }
  .loop-slide h2{
    font-size: 15px;
    padding: 5px 5px;
    font-weight: 500;
  }
  .caption img{
    width: 120px;
    margin-right: 20px;
  }
  
  .small-bubble{
    width: 15px;
    height: 15px;
    margin-top: 80px;
    margin-right: 10px;
  }
  
  .big-bubble{
    width: 25px;
    height: 25px;
    margin-top: 50px;
    margin-right: 6px;
  }
  
  .thought-text{
    width: 180px;
    height: 80px;
  }
  
  .thought-text h6{
    font-size: 10px;
    padding: 0 30px;
    font-weight: 600;
  }  
  .logos::before, .logos::after{
    width: 100px;
  }
  .logos-slide img{
    height: 50px;
    margin-right: 20px;
  }
  .footer-col{
    width: 100%;
  }
  .footer-col h4{
    font-size: 16px;
  }
  .footer-col ul{
    background-color: transparent;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    height: auto;
    text-align: left;
    z-index: 0;
  }
  .footer-col ul li a{
    font-size: 12px;
  }
  .copyright{
    font-size: 11px;
  }
}