@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,700;1,900&display=swap');

.menu-container{
  padding-top: 10px;
  background: rgb(255, 255, 255);
  height: auto;
  width: 100%; 
}

.menu-top{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box{
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  width: 330px;
  height: 40px;
  border-radius: 50px;
  justify-content: space-between;
  margin-top: 30px;
}
.search-box input{
  font-family: 'sans-serif';
  padding: 20px;
  width: 250px;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
}
.search-box i{
  background-color: crimson;
  color: #f2f2f2;
  padding: 12px 20px;
  border-radius: 25px;
  justify-content: center;
  transition: all 0.3s ease;
}
.fa-solid:hover{
  background-color: rgb(255, 75, 20);
  cursor: pointer;
}

.search-box ul{
  float: right;
}

.menu-categories{
  background: #24262b;
  height: 80px;
  width: 100%;
  margin: auto;
  margin-top: 20px;
}

.menu-categories ul{
  text-align: center;
  margin: auto;
}
.menu-categories ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 16px;
}
.menu-categories ul li a{
  color: white;
  font-size: 17px;
  background: crimson;
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.menu-categories ul li a:hover{
  background-color: rgb(255, 75, 20);
  text-decoration: none;
  color: #fff;
}        

.top-menu-pic img{
  width: 100%;
}

.menu-container h1{
  color: 	crimson;
  font-family: 'roboto-slab';
  font-weight: bold;
  font-size: 45px;
  padding: 40px 0 0 0;
  background-color: rgb(255, 255, 255);
} 

.productlist a{
  text-decoration: none;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
}

.productlist{
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.2);
  transition: .4s;
  background: #f2f2f2;
}

.productlist:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transform: translate(0px, -8px);
}

.productlist img{
  width: 100%;
  height: 150px;
  text-align: center;
  margin: 0 auto;
  display: block;
  border-top-left-radius: 20px ;
  border-top-right-radius: 20px ;
}
.productlist h3{
  text-align: center;
  font-size: 23px;
  font-weight: 600;
  margin: 0;
  padding-top: 20px;
  font-family: 'roboto-slab';
  margin-bottom: 5px;
}
.productlist h6{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #898c8e;
  margin: 0;
  margin-top: 15px;
}
.productlist ul{
  position: inherit;
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.productlist li{
  margin-top: 20px;
}
.productlist li i{
  font-size: 18px;
}
.fa{
  transition: .4s;
}
.checked{
  color: #ff9f43;
}
.fa:hover{
  transform: scale(1.3);
  transition: .6s;
}
.productlist button{
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: white;
  padding: 13px 27px;
  border: 0;
  background-color: crimson;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 25px;
  border-radius: 30px;
  font-family: 'roboto-slab';
  transition: all 0.3s ease;
}

.productlist button:hover{
  background-color: rgb(255, 75, 20);
}

.product-category h6{
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: "Roboto-slab";
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #fc9d46;
  position: relative;
}

.product-category h6::before,
.product-category h6::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: 10%;
  height: 2px;
  background-color: #fc9d46;
}

.product-category h6::before {
  left: 430px;
  margin-top: 0px;
}

.product-category h6::after {
  right: 430px;
  margin-top: 0px;
}

@media (max-width: 1250px) {
  .productlist{
    width: 25%;
  }
  .product-category h6::before {
    left: 380px;
  }
  
  .product-category h6::after {
    right: 380px;
  }
}

@media (max-width: 1120px) {
  .product-category h6::before {
    left: 310px;
  }
  
  .product-category h6::after {
    right: 310px;
  }
}

@media (max-width: 978px){
  .menu-top{
    width: 80%;
  }
  .menu-container h1{
    margin-left: 5px;
  }
  .search-box{
    margin-top: 38px;
  }
  .top-menu-pic img{
    margin-top: 60px;
  }
  .productlist{
    width: 35%;
  }
  .productlist ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  }
  .productlist h3{
    font-size: 22px;
    height: auto;
  }
  .productlist p{
    font-size: 15px;
  }
  .productlist ul li i{
    font-size: 18px;
  }
  .productlist h6{
    font-size: 20px;
  }
  .productlist button{
    margin-top: 6px;
    font-size: 19px;
  }
  .product-category h6::before {
    left: 260px;
  }
  
  .product-category h6::after {
    right: 260px;
  }
}
@media (max-width: 858px){
  .menu-top{
    width: 80%;
    margin: 0 auto;
  }
  .menu-container h1{
    font-size: 40px;
    margin-left: 0px;
    margin-top: 5px;
    width: 90%;
  }
  .search-box{
    width: 200px;
    height: 30px;
    margin-top: 40px;
  }
  .search-box input{
    width: 140px;
    padding-left: 16px;
  }
  .search-box input::placeholder{
    font-size: 16px;
  }
  .search-box i{
    padding: 7px 12px;
    border-radius: 20px;
  }
  .top-menu-pic img{
    margin-top: 70px;
  }
  .gallery{
    width: 100%;
  }
  .productlist{
    width: 25%;
  }
  .productlist img{
    width: 100%;
    height: 100px;
  }
  .productlist h3{
    font-size: 16px;
  }
  .productlist ul{
    width: 100%;
    height: 20px;
    background-color: #f2f2f2;
  }
  .productlist ul li i{
    font-size: 11px;
  }
  .productlist h6{
    font-size: 12px;
  }
  .productlist button{
    margin-top: 4px;
    font-size: 15px;
    padding: 6px 20px;
  }
  .product-category h6::before {
    left: 200px;
  }
  
  .product-category h6::after {
    right: 200px;
  }
}
@media (max-width: 755px){
  .gallery{
    width: 80%;
  }
  .productlist{
    width: 35% !important;
  }
}
@media (max-width: 730px){
  .gallery{
    width: 90%;
  }
  .productlist{
    width: 40% !important;
  }
}
@media (max-width: 700px){
  .product-category h6::before {
    left: 140px;
  }
  
  .product-category h6::after {
    right: 140px;
  }
}
@media (max-width: 520px){
  .product-category h6::before {
    left: 90px;
  }
  
  .product-category h6::after {
    right: 90px;
  }
}
@media (max-width: 420px){
  .menu-top{
    width: 80%;
  }
  .menu-top .menu-text h1{
    padding-left: 0;
  }
  .productlist img{
    width: 100%;
    height: 80px;
  }
  .productlist h3{
    padding-top: 15px;
    font-size: 13px;
  }
  .productlist ul{
    height: 8px;
  }
  .productlist ul li i{
    font-size: 10px;
  }
  .productlist h6{
    margin-top: 10px;
    font-size: 11px;
  }
  .productlist button{
    font-size: 13px;
    padding: 4px 18px;
    margin-bottom: 15px;
  }
}
@media (max-width: 400px){
  .product-category h6::before {
    left: 60px;
  }
  
  .product-category h6::after {
    right: 60px;
  }
}